
# Imports the Google Cloud client library
from google.cloud import bigquery

# Instantiates a client
BIGQUERY_CLIENT = bigquery.Client(project='your_gcp_project_name')

# The name for the new dataset
DATASET_ID = 'your_project_dataset_id'

# Prepares a reference to the new dataset
DATASET_REF = BIGQUERY_CLIENT.dataset(DATASET_ID)
DATASET = bigquery.Dataset(DATASET_REF)

TEST_TABLE_ID = 'test_table'

# Creates the new dataset
# DATASET = BIGQUERY_CLIENT.create_dataset(DATASET)

print('Dataset {} created.'.format(DATASET.dataset_id))
